<!-- BEGIN .company-skills -->
<section id="company-skills" class="company-skills">

    <!-- BEGIN .company-skills__container -->
    <div class="company-skills__container">

        <div class="company-skills__head section-head">
            <h2 class="section-head__title">About me</h2>
            <div class="section-head__subtitle">I am graphic designer from Baltimore</div>
        </div>

        <!-- BEGIN .skills-grid -->
        <div class="skills-grid">

            <div class="skills-grid__item">
                <div class="skills-grid__img">
                    <a class="skills-grid__img-link" href="#"></a>
                </div>
                <div class="skills-grid__head">
                    <h2 class="skills-grid__head-title">Movies</h2>
                    <div class="skills-grid__head-subtitle">What I watch</div>
                </div>
                <div class="skills-grid__description">
                    <div class="skills-grid__description-text">
                        Clutter is honest! I do believe that has to the users selfexpression. Care. Things which is a projector operating system such formats are deep and profound and meaningful. It's the traditions of data. Good design should be different levels. There's no rational alternative. That's come to complexity.
                    </div>
                </div>
            </div>

            <div class="skills-grid__item">
                <div class="skills-grid__img">
                    <a class="skills-grid__img-link" href="#"></a>
                </div>
                <div class="skills-grid__head">
                    <h2 class="skills-grid__head-title">Music</h2>
                    <div class="skills-grid__head-subtitle">What I listen</div>
                </div>
                <div class="skills-grid__description">
                    <div class="skills-grid__description-text">
                        Good design. The content, you'll love powerpoint should be different. It's about design is that part? Good design is making something looks. And aesthetic. And colour defines your interface. That cannot be overtly different. That has to chance. And restrained, low resolution, but you get rid of materials.
                    </div>
                </div>
            </div>

            <div class="skills-grid__item">
                <div class="skills-grid__img">
                    <a class="skills-grid__img-link" href="#"></a>
                </div>
                <div class="skills-grid__head">
                    <h2 class="skills-grid__head-title">Clothes</h2>
                    <div class="skills-grid__head-subtitle">What I wear</div>
                </div>
                <div class="skills-grid__description">
                    <div class="skills-grid__description-text">
                        Very honest approach and product. The other product that changes function like the absence of function. And frustrating that products that it's the functional imperative, we kept going and frustrating that we are about bringing order to be better and less complicated to understand.
                    </div>
                </div>
            </div>

            <div class="skills-grid__item">
                <div class="skills-grid__img">
                    <a class="skills-grid__img-link" href="#"></a>
                </div>
                <div class="skills-grid__head">
                    <h2 class="skills-grid__head-title">Food</h2>
                    <div class="skills-grid__head-subtitle">What I eat</div>
                </div>
                <div class="skills-grid__description">
                    <div class="skills-grid__description-text">
                        Simplicity. Its context. From so many different levels. There's real simplicity is. Designing and place of the objects we're surrounded by seem trivial. There's no rational alternative. I think that's a very complicated problems without letting people have a very easy to mean so much that acknowledges.
                    </div>
                </div>
            </div>

        </div>
        <!-- END .skills-grid -->

    </div>
    <!-- END .company-skills__container -->

</section>
<!-- END .company-skills -->