<!-- BEGIN .company-portfolio -->
<section id="company-portfolio" class="company-portfolio">

    <!-- BEGIN .company-portfolio__container -->
    <div class="company-portfolio__container">

        <div class="company-portfolio__head section-head">
            <h2 class="section-head__title">Portfolio</h2>
            <div class="section-head__subtitle">Simplicity is the ultimate sophistication</div>
        </div>

        //= portfolio-grid.html

    </div>
    <!-- END .company-portfolio__container -->

</section>
<!-- END .company-portfolio -->