<!-- BEGIN .contact-info -->
<section id="contact-info" class="contact-info">

    <!-- BEGIN .contact-info__container -->
    <div class="contact-info__container">

        <div class="contact-info__head section-head">
            <h2 class="section-head__title">Contact me</h2>
            <div class="section-head__subtitle">I'll be glad to answer your questions!</div>
        </div>

        <!-- BEGIN .contact-info__form -->
        <div class="contact-info__form">

            <div class="contact-info__form-container">

                //= form-feedback.html

            </div>
            <!-- END .contact-info__form-container -->

        </div>
        <!-- END .contact-info__form -->

        <!-- BEGIN .contact-info__social -->
        <div class="contact-info__social">

            <h3 class="widget-title">I'm social</h3>

            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link social-list__link--sk" href="skype:dminked"></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link social-list__link--fb" href="https://www.facebook.com/dimarium"></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link social-list__link--fl" href="https://freelance.ru/dm.Liverpool"></a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link social-list__link--em" href="mailto:dminked@gmail.com"></a>
                </li>
            </ul>

        </div>
        <!-- END .contact-info__social -->

    </div>
    <!-- END .contact-info__container -->

</section>
<!-- END .contact-info -->