<!-- BEGIN .form-feedback -->
<form class="form-feedback" action="mail.php" method="post">

    <div class="form-feedback__field">
        <input class="form-feedback__input" type="text" placeholder="Name">
    </div>
    <div class="form-feedback__field">
        <input class="form-feedback__input" type="email" placeholder="Email address">
    </div>
    <div class="form-feedback__field">
        <input class="form-feedback__input" type="text" placeholder="Subject">
    </div>
    <div class="form-feedback__field">
        <textarea class="form-feedback__input" cols="30" rows="5" placeholder="Your message"></textarea>
    </div>
    <div class="form-feedback__field form-feedback__field--btn">
        <input class="form-feedback__btn" type="submit" value="Send Message">
    </div>

</form>
<!-- END .form-feedback -->