<!-- BEGIN .portfolio-grid -->
<div class="portfolio-grid">

    <!-- BEGIN .portfolio-grid__filter -->
    <div class="portfolio-grid__filter">

        <ul class="filter-list">
            <li class="filter-list__item filter-list__item--title">
                Filter by
            </li>
            <li class="filter-list__item">
                <span class="filter-list__label active" data-filter=".app, .card, .icon, .logo, .web">All</span>
            </li>
            <li class="filter-list__item">
                <span class="filter-list__label" data-filter=".app">App</span>
            </li>
            <li class="filter-list__item">
                <span class="filter-list__label" data-filter=".card">Card</span>
            </li>
            <li class="filter-list__item">
                <span class="filter-list__label" data-filter=".icon">Icon</span>
            </li>
            <li class="filter-list__item">
                <span class="filter-list__label" data-filter=".logo">Logo</span>
            </li>
            <li class="filter-list__item">
                <span class="filter-list__label" data-filter=".web">Web</span>
            </li>
        </ul>

    </div>
    <!-- END .portfolio-grid__filter -->

    <!-- BEGIN .portfolio-preview -->
    <div class="portfolio-preview js-portfolio-preview">

        <div class="portfolio-preview__item logo" data-cat="logo">
            <a class="portfolio-preview__link" href="#">
                <span class="portfolio-preview__thumb">
                    <img class="portfolio-preview__thumb-img" src="img/portfolios/logo/5.jpg" alt="" />
                </span>
                <span class="portfolio-preview__caption">
                    <span class="portfolio-preview__caption-title">Galleries are funny</span>
                </span>
            </a>
        </div>

        <div class="portfolio-preview__item web" data-cat="web">
            <a class="portfolio-preview__link" href="#">
                <span class="portfolio-preview__thumb">
                    <img class="portfolio-preview__thumb-img" src="img/portfolios/web/4.jpg" alt="" />
                </span>
                <span class="portfolio-preview__caption">
                    <span class="portfolio-preview__caption-title">Galleries are funny</span>
                </span>
            </a>
        </div>

        <div class="portfolio-preview__item app" data-cat="app">
            <a class="portfolio-preview__link" href="#">
                <span class="portfolio-preview__thumb">
                    <img class="portfolio-preview__thumb-img" src="img/portfolios/app/3.jpg" alt="" />
                </span>
                <span class="portfolio-preview__caption">
                    <span class="portfolio-preview__caption-title">Galleries are funny</span>
                </span>
            </a>
        </div>

        <div class="portfolio-preview__item card" data-cat="card">
            <a class="portfolio-preview__link" href="#">
                <span class="portfolio-preview__thumb">
                    <img class="portfolio-preview__thumb-img" src="img/portfolios/card/5.jpg" alt="" />
                </span>
                <span class="portfolio-preview__caption">
                    <span class="portfolio-preview__caption-title">Galleries are funny</span>
                </span>
            </a>
        </div>

        <div class="portfolio-preview__item icon" data-cat="icon">
            <a class="portfolio-preview__link" href="#">
                <span class="portfolio-preview__thumb">
                    <img class="portfolio-preview__thumb-img" src="img/portfolios/icon/1.jpg" alt="" />
                </span>
                <span class="portfolio-preview__caption">
                    <span class="portfolio-preview__caption-title">Galleries are funny</span>
                </span>
            </a>
        </div>

        <div class="portfolio-preview__item app" data-cat="app">
            <a class="portfolio-preview__link" href="#">
                <span class="portfolio-preview__thumb">
                    <img class="portfolio-preview__thumb-img" src="img/portfolios/app/3.jpg" alt="" />
                </span>
                <span class="portfolio-preview__caption">
                    <span class="portfolio-preview__caption-title">Galleries are funny</span>
                </span>
            </a>
        </div>

        <div class="portfolio-preview__item card" data-cat="card">
            <a class="portfolio-preview__link" href="#">
                <span class="portfolio-preview__thumb">
                    <img class="portfolio-preview__thumb-img" src="img/portfolios/card/5.jpg" alt="" />
                </span>
                <span class="portfolio-preview__caption">
                    <span class="portfolio-preview__caption-title">Galleries are funny</span>
                </span>
            </a>
        </div>

        <div class="portfolio-preview__item icon" data-cat="icon">
            <a class="portfolio-preview__link" href="#">
                <span class="portfolio-preview__thumb">
                    <img class="portfolio-preview__thumb-img" src="img/portfolios/icon/1.jpg" alt="" />
                </span>
                <span class="portfolio-preview__caption">
                    <span class="portfolio-preview__caption-title">Galleries are funny</span>
                </span>
            </a>
        </div>

    </div>
    <!-- END .portfolio-preview -->

    <div class="show-more">
        <a class="show-more__link" href="#">Browse all</a>
    </div>

</div>
<!-- END .portfolio-grid -->