<!-- BEGIN .promo-header -->
<section class="promo-header">

    <!-- BEGIN .promo-header__container -->
    <div class="promo-header__container">

        <div class="promo-header__title">Retro</div>
        <div class="promo-header__tagname">
            <span class="promo-header__subtitle">Old style portfolio</span>
        </div>

        //= slider-promo.html

        <div class="promo-header__welcome">
            <span class="promo-header__welcome--title">"Hello, I am John Doe</span>
            <span class="promo-header__welcome--subtitle">Welcome to Retro, my wonderful theme!"</span>
        </div>

    </div>
    <!-- END .promo-header__container -->

</section>
<!-- END .promo-header -->