<!-- BEGIN .top-header -->
<div class="top-header">

    <!-- BEGIN .top-header__container -->
    <div class="top-header__container">

        <nav class="main-navigation">

            <a class="main-navigation__mobile js-menu-btn" href="#">Menu</a>

            <ul class="main-menu js-menu-mobile">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#company-skills">About me</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#company-portfolio">Portfolio</a>
                </li>
                <li class="main-menu__item main-menu__item--logo">
                    <a class="main-menu__link main-menu__link--logo" href="#"><span class="main-menu__link--name">dm</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#company-blog">My blog</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#contact-info">Contact me</a>
                </li>
            </ul>

        </nav>

    </div>
    <!-- END .top-header__container -->

</div>
<!-- END .top-header -->