/* Bazar */

@font-face {
	font-family: "BazarMedium";
	src: url("../fonts/Bazar/BazarMedium/BazarMedium.eot");
	src: url("../fonts/Bazar/BazarMedium/BazarMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Bazar/BazarMedium/BazarMedium.woff") format("woff"),
	url("../fonts/Bazar/BazarMedium/BazarMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* Seaside Resort NF */

@font-face {
	font-family: "SeasideResortNF";
	src: url("../fonts/SeasideResortNF/SeasideResortNF.eot");
	src: url("../fonts/SeasideResortNF/SeasideResortNF.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SeasideResortNF/SeasideResortNF.woff") format("woff"),
	url("../fonts/SeasideResortNF/SeasideResortNF.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* Roboto Slab */

@font-face {
	font-family: "RobotoSlabRegular";
	src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot");
	src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
	url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoSlabLight";
	src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot");
	src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
	url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoSlabBold";
	src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot");
	src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
	url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* Oswald */

@font-face {
	font-family: "OswaldRegular";
	src: url("../fonts/Oswald/OswaldRegular/OswaldRegular.eot");
	src: url("../fonts/Oswald/OswaldRegular/OswaldRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Oswald/OswaldRegular/OswaldRegular.woff") format("woff"),
	url("../fonts/Oswald/OswaldRegular/OswaldRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OswaldBold";
	src: url("../fonts/Oswald/OswaldBold/OswaldBold.eot");
	src: url("../fonts/Oswald/OswaldBold/OswaldBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Oswald/OswaldBold/OswaldBold.woff") format("woff"),
	url("../fonts/Oswald/OswaldBold/OswaldBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}