/* Bazar */

@font-face {
	font-family: "BazarMedium";
	src: url("../fonts/Bazar/BazarMedium/BazarMedium.eot");
	src: url("../fonts/Bazar/BazarMedium/BazarMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Bazar/BazarMedium/BazarMedium.woff") format("woff"),
	url("../fonts/Bazar/BazarMedium/BazarMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* Roboto */
/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot");
	src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot");
	src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* Roboto Slab */

/* font-family: "RobotoSlabRegular"; */
@font-face {
	font-family: "RobotoSlabRegular";
	src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot");
	src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
	url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoSlabLight"; */
@font-face {
	font-family: "RobotoSlabLight";
	src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot");
	src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
	url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoSlabBold"; */
@font-face {
	font-family: "RobotoSlabBold";
	src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot");
	src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
	url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}