/* Fonts
--------------------------------------------------------------------- */

@import "fonts";

/* normalize.css
--------------------------------------------------------------------- */

@import 'normalize';

// SASS settings

@import "variables";
@import "mixins";

/* General
--------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

body {
	background: $bg-base;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $font-color-base;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
ul, ol, li {
	@include indent-zero;
}

p {
	margin: 0 0 10px 0;
}

/* Top header
--------------------------------------------------------------------- */

.top-header {
	@include section-dashed($line-top: none);
	background: $bg-skyblue;
	box-shadow: 0 0 10px rgba(0, 0, 0, .25);
	z-index: 10;

	&__container {
		@include wrapper-container;
	}
}

/* Main navigation */

.main-navigation {
	@include wrapper-container;

	&__mobile {
		display: none;
		padding: 15px 10px;
		font-family: $font-high;
		font-size: 27px;
		text-transform: uppercase;
		color: #f9ebd9;
	}
}

.main-menu {
	@include clearfix;
	list-style: none;

	&__item {
		float: left;
		width: 20%;
		text-align: center;
	}

	&__item--logo {
		//margin-top: -10px;
	}

	&__link {
		display: block;
		padding: 41px 10px;
		font-family: $font-high;
		font-size: 27px;
		text-transform: uppercase;
		color: #f9ebd9;
	}

	&__link--logo {
		//margin-bottom: -10px;
	}

	&__logo {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

/* Promo header
--------------------------------------------------------------------- */

.promo-header {
	@include section-dashed;
	padding: 40px 0;
	background: $bg-skyblue;

	&__container {
	    @include wrapper-container;
	}
}

/* Sliders
--------------------------------------------------------------------- */

@import "slick";

/* Page footer
--------------------------------------------------------------------- */

/* Responsive
--------------------------------------------------------------------- */

@media screen and (max-width: 800px) {

	/* Main navigation */

	.main-navigation {

		&__mobile {
			display: block;
		}
	}

	.main-menu {
		display: none;

		&__item {
			float: none;
			width: 100%;
			text-align: left;
		}

		&__link {
			padding: 5px 50px;
			font-size: 20px;
		}
	}
}