// Typography

$font-base: "RobotoSlabRegular", "Arial", sans-serif;
$font-main-title: "SeasideResortNF", "Arial", sans-serif;
$font-section-title: "BazarMedium", "Arial", sans-serif;
$font-section-subtitle: "OswaldRegular", "Arial", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.8;

$font-color-base: #383a3c;
$font-color-second: gray;

// Colors

$blue: blue;

// Blocks

$wrapper-container: 1000px;

// Background

$bg-base: white;
$bg-skyblue: url("../img/template/bg-skyblue.jpg") repeat 0 0;
$bg-beige: url("../img/template/bg-beige.jpg") repeat 0 0;
$bg-orange: url("../img/template/bg-orange.jpg") repeat 0 0;
$bg-lightgray: url("../img/template/bg-lightgray.jpg") repeat 0 0;
$bg-darkblue: url("../img/template/bg-darkblue.jpg") repeat 0 0;

// Effects

$hover-opacity: .7;
$hover-transition: all .25s ease;

// Shadows

$shadow-section: 0 0 5px 0 rgba(0, 0, 0, .25);